<div class="card">
    <img src="https://source.unsplash.com/random/600x300" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-truncate"><%= post.title.rendered  %></h5>
      <a href="/blog/<%= post.id %>" class="btn btn-primary w-100">Makaleye Git</a>
    </div>
  </div>